@media (max-width: 991px) {
  .header__logo {
    min-width: 110px;
  }
  .header__search {
    margin-left: 5px;
  }
  .header__menu {
    margin-right: 0;
  }
  .header__register {
    min-width: 130px;
  }
  .header__enter {
    min-width: 110px;
  }
  .wrapper {
    max-width: 800px;
  }
  .promo__bunner {
    max-height: 388px;
    margin-right: 20px;
  }
  .promo__bunner-btn {
    border: 1px solid #D4D4D4;
    border-radius: 0 0 5px 5px;
  }
  .promo__descr-title {
    max-width: 300px;
    font-size: 34px;
  }
  .promo__descr-subtitle {
    max-width: 300px;
  }
  .promo__descr-txt {
    margin-top: 30px;
    min-width: 300px;
    max-width: 480px;
  }
  .promo__descr table {
    border-spacing: 15px 10px;
  }
  .promo__descr-table-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 500px;
  }
  .promo__descr-ltable {
    min-width: 205px;
    max-width: 320px;
    margin-top: 20px;
  }
  .promo__descr-rtable {
    min-width: 205px;
    max-width: 230px;
    margin-top: 20px;
  }
  .promo__descr-rate {
    margin-top: 40px;
  }
  .people__table {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .people__table-item {
    width: 200px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .people__table-item img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    min-width: 80px;
  }
  .header__search {
    margin-left: 0px;
  }
  .header__menu {
    min-width: 60px;
  }
  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__register {
    min-width: 120px;
  }
  .header_enter {
    min-width: 90px;
  }
  .promo__bunner {
    margin-right: 20px;
  }
  .promo__descr-title {
    max-width: 310px;
    font-size: 30px;
    min-width: 240px;
  }
  .promo__descr-subtitle {
    max-width: 240px;
  }
  .promo__descr-txt {
    margin-top: 30px;
    min-width: 240px;
    max-width: 320px;
  }
  .promo__descr table {
    border-spacing: 10px 5px;
    font-size: 10px;
  }
  .promo__descr-table-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 500px;
  }
  .promo__descr-ltable {
    min-width: 205px;
    max-width: 320px;
    margin-top: 20px;
    margin-right: 5px;
  }
  .promo__descr-rtable {
    min-width: 205px;
    max-width: 230px;
    margin-top: 20px;
  }
  .promo__descr-rate {
    margin-top: 40px;
  }
  .people__table {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .people img {
    width: 100px;
    height: 100px;
  }
  .footer {
    height: 500px;
  }
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__wrapper-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .header {
    height: 65px;
  }
  .header .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .no-scroll {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    right: 10px;
    top: 20px;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 18px;
  }
  .header__logo {
    min-width: none;
    border-right: none;
  }
  .header__search {
    display: none;
    position: fixed;
    z-index: 46;
    top: 95px;
    left: 60px;
  }
  .header__search-ico {
    display: none;
  }
  .header__search input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
  }
  .header__m-menu {
    display: none;
    position: fixed;
    z-index: 45;
    left: 0;
    top: 68px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #5671F6;
    width: 100%;
    height: 100%;
  }
  .header__menu {
    display: none;
    position: fixed;
    z-index: 45;
    left: 134px;
    top: 194px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu li a {
    color: white;
    line-height: 40px;
  }
  .header__menu ul {
    color: white;
  }
  .header__register {
    display: none;
    position: fixed;
    z-index: 47;
    top: 450px;
    left: 125px;
    border-left: none;
  }
  .header__register a {
    color: white;
  }
  .header__enter {
    display: none;
    position: fixed;
    z-index: 47;
    left: 130px;
    top: 400px;
    border-left: none;
  }
  .promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
    margin-top: 40px;
    width: 330px;
  }
  .promo__bunner {
    max-height: none;
    width: 330px;
  }
  .promo__descr {
    width: 330px;
    margin-top: 30px;
  }
  .promo__descr-table-wrapper {
    min-width: 330px;
  }
  .promo__descr-title {
    min-width: 330px;
  }
  .promo__descr h1 {
    font-size: 20px;
    line-height: 23px;
  }
  .promo__descr-subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .promo__descr-txt {
    min-width: 320px;
    font-size: 14px;
    line-height: 150%;
    margin-right: 20px;
  }
  .promo__descr-table-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .promo__descr-rtable {
    margin-top: 0;
  }
  .promo__descr-rate {
    margin-bottom: 70px;
  }
  .people {
    margin: 0 30px;
    margin-top: 75px;
  }
  .footer {
    height: 375px;
    margin-top: 50px;
  }
  .footer__title {
    margin-left: 30px;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 30px;
    margin-right: 30px;
  }
  .footer__wrapper a {
    display: block;
  }
  .footer__wrapper-item {
    margin: 0;
    width: 240px;
  }
  .footer__img {
    display: block;
  }
}
/*# sourceMappingURL=media.css.map */