@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
body {
  font-family: Roboto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 104px;
  border-bottom: 1px solid #D4D4D4;
}

.header__logo {
  min-width: 136px;
  border-right: 1px solid #D4D4D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo a {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #5671F6;
  text-decoration: none;
}

.header__search {
  margin-left: 44px;
  margin-right: auto;
  min-width: 616px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search input {
  border: none;
}

.header__search-ico {
  margin-left: 20px;
}

.header__search-input {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #A5A5A5;
}

.header__menu {
  min-width: 317px;
}

.header__menu ul {
  min-width: 317px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 104px;
  margin-right: 20px;
}

.header__menu li {
  margin-left: 5px;
  margin-right: 5px;
}

.header__menu li a {
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.header__menu li a:hover {
  color: #5671F6;
}

.header__menu li a:active {
  color: white;
}

.header__register {
  min-width: 176px;
  width: 180px;
  border-left: 1px solid #D4D4D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__register a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #5671F6;
  text-decoration: none;
}

.header__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #D4D4D4;
  min-width: 151px;
  background: #5671F6;
}

.header__enter a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.promo {
  margin-top: 80px;
  height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__bunner {
  height: 530px;
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #D4D4D4;
  border-radius: 5px 5px 5px 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.promo__bunner-btn {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background: white;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #5671F6;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.promo__bunner-btn:hover {
  border: 1px solid #5671F6;
  border-radius: 1px;
  text-shadow: 1px 1px 2px #5671F6;
}

.promo__bunner-btn-txt::before {
  content: url("../img/play.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  left: 60px;
  bottom: 28px;
}

.promo__descr-title {
  min-width: 491px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #363636;
}

.promo__descr-subtitle {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
}

.promo__descr-txt {
  margin-top: 32px;
  min-width: 514px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  color: #000000;
}

.promo__descr-table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__descr-ltable {
  min-width: 255px;
  margin-top: 50px;
}

.promo__descr-rtable {
  min-width: 255px;
  margin-top: 50px;
}

.promo__descr-rate {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__descr-rate-lvl {
  border: 1px solid #5671F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #5671F6;
}

.promo__descr-rate-txt {
  margin-left: 28px;
  margin-right: auto;
}

.promo__descr-rate-txt-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-bottom: 12px;
}

.promo__descr-rate-txt-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #363636;
}

.promo__descr-rate-txt-descr span {
  font-weight: bold;
}

.divhr {
  width: 100%;
  background: #D4D4D4;
  color: #D4D4D4;
  border-bottom: none;
}

.people__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
}
/*# sourceMappingURL=style.css.map */