
@media (max-width: 1200px){        
}

@media (max-width: 991px){  
    
    .wrapper{
        max-width: 840px;

    }
    .header__menu{
       min-width: 100px;
        ul{  
          
            //max-width: 150px !important;
            flex-direction: column;
        }
        

    }
    
    .promo__bunner{
        max-height: 388px;
    }
}

@media (max-width: 767px){  
    .header{
        &__logo{
            min-width:100px;
        }
        &__search{
            margin-left: 10px;
        }
        &__menu{
            min-width: 150px;
        }
        &__register{
            min-width: 140px;
        }
    }
    .promo__bunner{
        margin-right: 20px;
    } 
}

@media(max-width: 575px){

}

@media(max-width: 460px){   
.header{
    //position: fixed;
    height: 65px;
    &__logo{
        min-width: none;
        border-right:none
    }
    &__search{
        input{
            display: none;
        }
    }
    &__menu{
        display: none;
    }
    &__register{
        display: none;
    }
    &__enter{
        display: none;
    }
}

.promo{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;

    &__bunner{
       max-height: none;
    }
    &__descr{
         margin-top: 30px;
       
       h1{
            font-size: 20px;
            line-height: 23px;
       }

       &-subtitle{
            font-size: 14px;
            line-height: 16px;
       }
       &-txt{
      
            min-width: 320px;       
            font-size: 14px;
            line-height: 150%;
            margin-right: 20px;
      
        
       }
       &-table-wrapper{
           flex-wrap: wrap;
         

       }
       &-rtable{
        margin-top: 0;
    }

    &-rate{
        margin-bottom: 70px;
    }

    }
}

.people{
    margin: 0 30px;
    margin-top: 75px;
  &__table{
      //margin: 0 30px;
  }

}

.footer{
    margin-top: 50px;
    &__title{
        margin-left: 30px;
    }
    &__wrapper{
        display: flex;
        align-items:center;

        a{
            display: block;
        }
        margin-left: 30px;
        margin-right: 30px;
     
        &-item2,
        &-item3,
        &-item4{
            display: none;
        }
    }
    &__img{
        display: block;
    }
    
}

 

}