@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body{
    font-family: Roboto;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 104px;
    border-bottom: 1px solid #D4D4D4;
    //transform: rotate(180deg);

    &__logo{       
        min-width: 136px;
        border-right:  1px solid #D4D4D4;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        a{
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 35px;          
            color: #5671F6;
            text-decoration: none;
        }
    }

    &__search{
        margin-left: 44px;
        margin-right: auto;
       // min-width: 616px;
        display: flex;
        justify-content: start;
        align-items:center;
        input{
            border: none;
        }
        &-ico{
            margin-left: 20px;
        }
        &-input{
            margin-left: 20px;
           
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */


            color: #A5A5A5;
        }
    }

    &__menu{
        min-width: 317px;
        ul{
        
            padding: 0;
            margin: 0;
             display: flex;  
             list-style: none;
             justify-content: center;
             align-items:center;
             height: 104px;  
             margin-right: 20px;          
        }

        li{
           
            margin-left: 5px;
            margin-right: 5px;;
            a{
                transition: all 1s;
                text-decoration: none;               
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #363636;

            }
            a:hover{
                color: #5671F6;
                
            }
            a:active{
                color: white
            }
        }
    }

    &__register{
        min-width: 176px;
        //width: 180px;
        border-left :  1px solid #D4D4D4;
        display: flex;
        justify-content: center;
        align-items:center; 
        a{    
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;        
        color: #5671F6;
        text-decoration: none;
        }
    }

    &__enter{
        display: flex;
        justify-content: center;
        align-items:center;
        border-left :  1px solid #D4D4D4;
        min-width: 151px;
        background: #5671F6;
        a{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-decoration: none;
        }

        
        
        
    }


    
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.promo{

    margin-top: 80px;
    min-height: 640px;
     display: flex;

    &__bunner{
        img{
            width: 100%;
        }
       // min-height: 530px;
        max-height: 535px;
        margin-right: 80px;
        display: flex;
        flex-direction: column;
        border:  1px solid #D4D4D4;
        border-radius: 5px 5px 5px 0;
        transition: all 1s;
      
        &-btn{ 
            border:  1px solid #D4D4D4;
           
            cursor: pointer;           
            display: flex;
            justify-content: center;
            align-items:center;
            min-height: 70px;
            background: white;
            border:none;       
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: #5671F6;
            transition: all 1s;
            &:hover{
                
                border: 1px solid #5671F6;                
                border-radius: 1px;
                text-shadow: 1px 1px 2px #5671F6;
            }

             
        }

        &-btn-txt::before{
            content: url('../img/play.svg');                                 
            width: 20px;
            height: 20px;
           
        }
    }

    &__descr{
        &-title{        
            min-width: 491px;
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 42px;
            color: #363636;
        }

        &-subtitle{
            margin-top: 16px;         
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #A5A5A5;
        }
        &-txt{
            margin-top: 32px; 
            min-width: 514px;      
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            /* or 21px */
            color: #000000;

        }

        &-table-wrapper{
            display: flex;
            min-width: 500px;           
            justify-content: center;
            align-items:center;           
        }
        &-ltable{          
            min-width: 255px;            
            margin-top: 50px;          
        }

        &-rtable{
            min-width: 255px;             
            margin-top: 50px;            
        }
        &-rate{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            &-lvl{
                
            border: 1px solid #5671F6;
            box-sizing: border-box;
            border-radius: 10px;
            width: 100px;
            height: 100px;
        
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            /* identical to box height */

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            color: #5671F6;


            }
            &-txt{
                margin-left: 28px;
                margin-right: auto;
                &-title{
          
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        color: #363636;
                        margin-bottom: 12px;

                }

                &-descr{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 30px;
                    color: #363636;
                    span{
                        font-weight: bold;
                    }
                }
            }
        }


    }
   

}
.divhr{    
    width: 100%;
    background: #D4D4D4;
    color:  #D4D4D4;
    border-bottom:none;
}
    
.people{
    margin-top: 90px;

    //height: 500px;
    &__toggle{
        display: flex;

        &-item {
            
            a{
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #A5A5A5;
            margin-right: 30px;
            text-decoration: none;
            }

        }
        &-item-ACTIVE {    
            a{
            font-weight: 900;           
            color: #363636;
            }
        }

    }

    &__table{
        min-height: 245px;
        margin-top: 40px;
        margin-bottom: 100px;
        img{
            height: 100px;
            width: 100px;
        }
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     
        
        &-item{
            span{
                
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #5671F6;
            }
            margin-top: 20px;
            align-items:center;            
            width: 234px;
            display: flex;
            margin-right: 20px;
            margin-left: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #A5A5A5;
            &-descr{
                margin-left: 20px;
            }

        }
    }
}

.footer{
    height: 424px;
    background: #F3F3F3;
    &__title{
       padding-top: 70px;       
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    &__wrapper{
        margin-top: 65px;
        display: flex;
        &-item{
           // height: 160px;
            width: 260px;
            background: #FFFFFF;
            border-radius: 5px;
            margin-left: 15px;
            margin-right: 15px;
            padding: 30px;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 16px;

            color: #000000;

            span{
                display: block;
                margin-bottom: 14px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;

                color: #000000;
            }
        }
    }
}

